# Enable Ceph CLI tools
toolbox:
  enabled: true

# Enable Prom metrics
monitoring:
  enabled: true

cephImage:
  imagePullPolicy: Always

cephClusterSpec:
  dataDirHostPath: /var/lib/rook

  placement:
    osd:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
    prepareosd:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists

  storage:
    #
    useAllNodes: false
    useAllDevices: true
    deviceFilter: sd
    nodes:
      # TODO hardcoded nodes...?
      - name: "lab-master-1"
      - name: "lab-master-2"
      - name: "lab-master-3"

  resources:
    mgr:
      limits:
        memory: "1024Mi"
      requests:
        cpu: "250m"
        memory: "512Mi"
    mon:
      limits:
        memory: "1024Mi"
      requests:
        cpu: "250m"
        memory: "512Mi"
    osd:
      limits:
        memory: "2048Mi"
      requests:
        cpu: "500m"
        memory: "2048Mi"
    prepareosd:
      requests:
        cpu: "500m"
        memory: "50Mi"
    mgr-sidecar:
      limits:
        memory: "100Mi"
      requests:
        cpu: "100m"
        memory: "40Mi"
    log-collector:
      limits:
        memory: "512Mi"
      requests:
        cpu: "100m"
        memory: "100Mi"
    crashcollector:
      limits:
        memory: "60Mi"
      requests:
        cpu: "100m"
        memory: "60Mi"

cephBlockPools:
  - name: ceph-blockpool
    spec:
      failureDomain: host
      replicated:
        size: 1  # Note we don't replicate at all
    storageClass:
      enabled: true
      name: ceph-block
      isDefault: true
      reclaimPolicy: Delete  # TODO Check?
      allowVolumeExpansion: true  # TODO Check?
      parameters:
        csi.storage.k8s.io/fstype: ext4

cephFileSystems:
  - name: ceph-filesystem
    spec:
      metadataPool:
        replicated:
          size: 1  # Note we don't replicate at all
      dataPools:
        - name: data0
          failureDomain: host
          replicated:
            size: 1
      metadataServer:
        activeCount: 1
        activeStandby: false  # saves resources
    storageClass:
      enabled: true
      name: ceph-filesystem
      reclaimPolicy: Delete  # TODO Check?
      allowVolumeExpansion: true  # TODO Check?
      parameters:
        csi.storage.k8s.io/fstype: ext4

# TODO add object store?
